streamlit
pymupdf
langchain
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-ollama
langchain-groq
chromadb
sentence-transformers
python-dotenv
pytest
ruff
black
